
.DS_Store
erode.jar
.ipynb_checkpoints/erodePython-checkpoint.ipynb
kaic.csv.cdat
kaic.csv.cdat.vdat
test_graph_2.ode
.ipynb_checkpoints/AM-checkpoint.ode
.ipynb_checkpoints/test_graph_2-checkpoint.ode
